body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
}
article {
	width: 1024px;
	border: 2px solid grey;
	padding: 2px;
}
h3 {
	background-color: grey;
	padding: 2px;
}
.myData {
	display: flex;
	justify-content: space-around;
}
ul {list-style-image: linear-gradient(#555555 0, #777777 50%, #000000 50%);}